html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:rgb(247, 247, 229);
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* //////////////////////////////ここから自分たちで追加したところ////////////////// */

/* html全体 */
html{
    width: 100vw;
    box-sizing: border-box;
    color: #333333;
    background-image:url(https://as1.ftcdn.net/jpg/03/00/75/57/240_F_300755714_ClwmQaJli8Apocerh1bLbgQYC09LuKcw.jpg);
   background-size: cover;
   margin: auto;
}

body{
    box-sizing: border-box;
    width: 100%;
}

h1::before{
    margin:0;
    max-width: inherit;
    content:attr(data-title);
    font-size: 1.5em;
    font-family: 'Montserrat Subrayada', sans-serif;
    /* color: #dddbdb; */
    display: inline;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom:inherit;
    left: 10%;
    align-self: center;
    font-weight: 500;
    font-style: italic;
    z-index: -10;
}

.newssection, .interviewsection, .lectureSection{
    box-sizing: border-box;
    height: max-content;
    margin-bottom: 10%;
    /* margin: 20% 10%; */
    /* background-color: #fdf8ef; */
    /* border-radius: 1em; */
}

/* ヘッダー */

header{
    box-sizing: border-box;
    border: 5px;
    margin: 0;
    display: block;
    height: 150px;
    width: 100%;
}

header p{
    display: flex;
    width: 100%;
    height: fit-content;
    box-sizing: inherit;
    padding-top:2vw;
    padding-bottom: 1vw;
    background-color: #fdf8ef;
    margin:0;
}

header ul{
    display:inline;
    box-sizing: inherit;
    width:100%;
    position: absolute;
    display: table;
    margin:0;
    padding: 0;
}

header nav{
    background-color: #fdf8ef;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top:2vw;
    border-bottom: 5px solid #185085;
    position: relative;
}

header img{
    display: block;
    width: 10%;
    margin: auto;
    background: transparent;
    
}

nav ul a{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    text-decoration: none;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
    color: #fdf8ef;
    background-color:transparent;
    align-self: center;
    border-right: 3px solid #185085;
    text-align: center;
    font-weight: bolder;
}

.headerrightli{
    border-right: none;
}

nav ul{
    width: 100%;
    text-align: center;
    display: flex;
}

nav ul a.current{
    font-weight: bold;
    border-top: 5px solid #1072bc;
    }

nav ul a.current i{
    color: #105085;
    font-weight: bold;
}
nav ul a.current li{
    color: #105085;
    font-weight: bold;
}

nav ul a:hover, nav ul li a:hover{
    color: #fdf8ef;
    font-size: 16px;
    background-color:#1072bc;
}

.topbutton{
    color: #fdf8ef;
    font-size: 16px;
    background-color:#105085;
}


/* 検索ボタン作りかけです */
/* #form2{
    position:relative;
    max-width:300px; 
    padding: 0 0 0 80%;
    /* background-color: transparent; */
    box-sizing: border-box;
    background-color: #fdf8ef;
    height: 50px;
    display: block;
    }

#sbox2{
    height: 50px;;
    padding:0 5px; 
    position:absolute; 
    left:0;
    top:0; 
    border-radius:2px;
    box-sizing: border-box;
    outline:0;
    background:#eee; 
    }
    
    #sbtn2{
    height:50px;
    position:absolute; 
    left:255px;/*アイコン左右の位置調整*/
    top:0;
    background:none;
    color:#666;
    border:none;
    font-size:20px;/*アイコンサイズ*/
    box-sizing: border-box;
    }
    #sbtn5:hover{
    color:#7fbfff;
    } */

    /* .searchButton{
        display: inline-block;
        width: 10%;
      } */
/* ヘッダーここまで */

/*大きい写真 */
.pic-ctn {
    display: block;
    width: 100%;
  }

  /* メイン*/
main{
    display: block;
    align-self: center;
}

h1{
    box-sizing: border-box;
    margin: 10% 0 0 0;
    width: 100%;
    padding:30px;
    border:30px;
    color: #333333;
    font-size: 50px;
    font-weight: 800;
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    z-index: 10;
    text-align: center;
}

main div{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}



/* topphotoセクションについて */
.topphoto{
    margin-top: 30px;
    position: relative;
    display: block;
    top: 0;
    width: 100%;
} 

.topphoto p{
    position: absolute;
    color: #fdf8ef;
    font-weight: bold;
    font-size: 8em;
    font-family: 'Montserrat Subrayada', sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    border:0;
}

.topphoto img{
    width: 100%;
}

/* newsセクションについて */
.newssection{
    display: block;
    text-align: center;

}

#news dl{
    display: flex;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#news dt, #news dd{
    display: block;
    box-sizing: border-box;
    width: 50%;
    padding: 30px 0;
    text-align: center;
    text-decoration: none;
    margin: auto;
    font: xx-large;
    font-size: x-large;
    font-weight: 500;
    color: #185085;
    font-size: large;
}
/* 
#news dt{
    margin: auto 10%;

} */

#news dd{
    margin: auto 10% auto 0;
    text-align: left;
}

.newstitle{
    display: block;
}

/* インタビューセクションについて */
.interviewSection, .lectureSection{
    width: 100%;
}

.interviewSectionId, .lectureSectionId{
    width: 100%;
    display: flex;
}

.lecturebutton{
    padding:none;
    margin:none;
    border:none;
    width: none;
}



#interviewSectionId h1 div,#lectureSectionId h1 div{
    display: block;
    position: relative;
}

.interviewSectionImage, .lectureSectionImage{
    width: 50%;
    /* box-sizing: border-box; */
    margin: 2%;
    empty-cells: show;
}

.interviewSectionExplain{
    background-color: rgba(223, 222, 222, 0.5);
    display: block;
    margin: 10% 3%  0 9%;
    width: 40%;
}

.lectureSectionExplain{
    background-color: rgba(223, 222, 222, 0.5);
    display: block;
    margin: 10% 9% 0 3%;
    width: 40%;
}

.lecturetitle, .interviewtitle{
    color: #333333;
    font-size: large;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
    line-height: 400%;
    padding: auto;
}

h2{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    text-decoration: none;
    color: #333333;
    background-color:transparent;
    /* border-right: 3px solid #185085; */
}

.lectureexp, .interviewexp{
    position: relative;
  padding: 1.5rem 1.5rem calc(1.5rem + 10px);
  border: 2px solid #000;
  background-color: #f3ec17;
  margin: 10% auto;
  width: 50%;
}

.lectureexp::after, .interviewexp::after{
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  border-top: 2px solid #000;
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-size: 7px 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.interviewImageItself, .lectureImageItself{
    box-sizing:border-box;
    width: 100%;
    border-radius: 1em;
}

.interviewA, .lectureA{
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.interviewSectionImage::before{
    content: '';
    position: absolute;
    width: 50%;
    box-sizing: border-box;
    margin: 5%;
    left: 0;
    bottom: -15%;
    height: 80%;
    max-width: 50%;
    background-color:#f3ec17;
    z-index: -10;
    border-radius: 1em;
}

.lectureSectionImage::before{
    content: '';
    position: absolute;
    width: 50%;
    box-sizing: border-box;
    margin: 5%;
    right: 0;
    bottom: -25%;
    height: 90%;
    max-width: 50%;
    background-color:#f3ec17;
    z-index: -10;
    border-radius: 1em;
}

/*footerについて */
/* 応援してくださる方へ */
.supportPosseSection{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 60px 0;
    align-items: center;
    background-color: #185085;
    border-top: 10px #fdf8ef;
}

.supportersTitle{
    display: flex;
    margin:0;
    color: #fdf8ef;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
}

.supportersTitle::before, .supportersTitle::after{
    content: '';
    width: 100px;
    height: 1px;
    background-color: #fdf8ef;
}

.supportersTitle::before{
    margin-right: 20px;
}

.supportersTitle::after{
    margin-left: 20px;
}

.supportPosseId{
    /* display: inline; */
}

.supportersP{
    margin: 2% 5% 4% 5%;
    color: #fdf8ef;
    text-align: center;
    line-height: 200%;
}

.posselink{
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: max-content;
    margin: 0 39%;
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #fff100;
}
.posselink a{
    margin: 0;
    color: #333333;
    font-weight: bolder;
    text-decoration: none;
}

.posselink::before{
    position: absolute;
    /* display: inline; */
    top: 5px;
    left: -10px;
    width: 100%;
    height: 100%;
    content:'';
    border: 4px solid  #e7e7e7;
}
.pagetop_button{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 100%;
    width:100px;
    height: 100px;
    background-color: rgb(49, 183, 228);
    text-decoration: none;
    transition-property: opacity;
    -webkit-transition-property:opacity ;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin:30px;
    border-color: rgba(245, 227, 125, 0.836);
 
}
.pagetop_button:hover{
    opacity: .7;
}
.pagetop_text{
    box-sizing: border-box;
    text-align: center;
    writing-mode: horizontal-tb;
    display: inline-block;
    margin: 0;
    /* text-align: center; */
    
}

/*普通のfooterについて */
footer{
    align-self: center;
    background-color: #fdf8ef;
    box-sizing: border-box;
    width: 100%;
}

.footer a{
    margin:20px;
}

.footerSection{
    display: inline;
    align-self: center;
}

.footerposseicon{
    display: inline;
    height: auto;
    width: 10%;
    align-self: center;
    margin: auto;
}

.footerposseicon a{
    display: inline-block;
}

footer img{
    width:10%;
    display: inline;
    align-self: center;
}

.fab fa-twitter{
    margin:auto;
    border: none;
}


/*///////////////////////////  レスポンシブ//////////////////////////*/
@media screen and (max-width: 480px) {
    
    .pagetop_button{
        border-radius: 100%;
        width:50px;
        height: 50px;
        background-color: rgb(49, 183, 228);
        text-decoration: none;
        transition-property: opacity;
        -webkit-transition-property:opacity ;
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
        text-align: center;
        position: fixed;
        right: 0;
        bottom: 0;
        margin:20px;
        border-color: rgba(245, 227, 125, 0.836);

    }
    .pagetop_button:hover{
        opacity: .7;
    }
    
    .pagetop_text{
        box-sizing: border-box;
        width: 60%;
        text-align: center;
        writing-mode: horizontal-tb;
        font-size: 10px; 
    }

    .topphoto{
        margin-top: -20px;
        position: relative;
        display: block;
        top: 0;
        width: 100%;
    } 

    .topphoto p{
        /* position: absolute; */
        color: #fdf8ef;
        font-weight: bold;
        font-size: 3em;
        font-family: 'Montserrat Subrayada', sans-serif;
        top: 75%;
        left: 45%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        border:0;
    }

    .pic-ctn {
        display: block;
        width: 100%;
        
    }

    nav ul a{
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-top: 10px;
        padding: 10px 0;
        text-decoration: none;
        color: white;
        background-color:transparent;
        align-self: center;
        border-right: 3px solid #185085;
        text-align: center;
        font-weight: bolder;
    }

    h1{
        box-sizing: border-box;
        margin: 10% 0 0 0;
        width: 100%;
        padding:30px;
        border:30px;
        color: white;
        font-size: 45px;
        font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
        z-index: 10;
        text-align: center;
    }

    h1::before{
        display: none;
        /* margin:0;
        max-width: inherit;
        content:attr(data-title);
        font-size: 1.3em;
        font-family: 'Montserrat Subrayada', sans-serif;
        color: #e7e7e7;
        display: inline;
        position: absolute;
        /* bottom: inherit; */
        /* text-align: center;
        font-weight: 10;
        left: 0;
        z-index: -10; */ 
    }

    .newstitle{
        color: white;
        display: block;
    }

    .interviewSectionExplain{
        border-radius: 1em;
        background-color: rgba(223, 222, 222, 0.5);
        display: block;
        margin: 10px;
        width: 95%;
    }

    .lecturetitle, .interviewtitle{
        color: #333333;
        font-size: small;
        font-family: "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif";
        line-height: 200%;
        padding: auto;
    }
    
    .interviewSectionImage::before{
        display: none;
        content: '';
        position: absolute;
        width: 50%;
        box-sizing: border-box;
        margin: 5%;
        left: 0;
        bottom: -15%;
        height: 80%;
        max-width: 50%;
        background-color:#f3ec17;
        z-index: -10;
        border-radius: 1em;
    }

    .interviewA, .lectureA{
        /* display: flex; */
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .interviewSectionImage, .lectureSectionImage{
        width: 95%;
        /* box-sizing: border-box; */
        margin: 2%;
        empty-cells: show;
    }

    .interviewA{
        display: block;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .lectureA{
        width: 100%;
        box-sizing: border-box;
        display: flex;                    /* flexコンテナ化 */
        flex-direction: column-reverse; /* 縦向きで逆順に配置 */
    }

    .lectureSectionImage::before{
        display: none;
        content: '';
        position: absolute;
        width: 50%;
        box-sizing: border-box;
        margin: 5%;
        right: 0;
        bottom: -25%;
        height: 90%;
        max-width: 50%;
        background-color:#f3ec17;
        z-index: -10;
        border-radius: 1em;
    }

    .lectureSectionExplain{
        border-radius: 1em;
        background-color: rgba(223, 222, 222, 0.5);
        display: block;
        margin: 10px;
        width: 96%;
    }


}