/* htmlのコード
<body>
    <div calss="engineer">
        <img src="./engineer.jpeg" width="300" height="200" alt="エンジニア1">
        <div class="box">
        <p class="detail">詳細</p>
        </div>
    </div>
</body> */





/* .engineer{
    background-color: blue;
    display: inline-block;
}

.engineer img{
    opacity: 0.3;
    display: block;
}

.engineer::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: blue;
    opacity: 0.5;
    display: block;
} */
/* 
p.engineer{
    background-color: red;
    width: 312px;
    height: 162px;
    float: left;
    margin: auto;
} */

/* div.engineer{
    float: left;
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 300px;
    height: 200px;
}

div.engineer div.box{
    position: absolute;
    left: 0px;
    top: 200px;
    width: 300px;
    height: 55px;
    background-color: red;
    color: white;
    opacity: 0.6;
}

div.engineer div.box p.detail{
    font-weight: bold;
    font-size: 90%;
    margin: 0.5em;
} */

img:hover{
    opacity: 0.5;
}