.eyecatch_normal {
    background-color: transparent;
    display: inline-block;
    position: relative;
    width: calc(100% / 5);
    margin: 30px 10px 10px 10px;
    box-sizing: border-box;
}

.me_normal {
    display: block;
    width: 100%;
}

.p_hide {
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.eyecatch {
    text-align: center;
}
