

/* □■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■ ↓亮ちゃん↓ □■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
.link-card{
  margin: 20px 0;
  max-width:950px;
  position: relative;
  clear:both;
  min-height:145px;
  min-width: 300px;
  box-sizing: border-box;
  padding:12px;
  padding-bottom: 6px;
  border:1px solid #ddd;
  word-wrap: break-word;
  border-radius: 5px;
  display: flex;
}

.link-card:after{
  content: "";
  clear: both;
  display: block;
}

.link-card-thumbnail{
    /* float: left; */
    display: flex;
}

.link-card img.link-card-thumb-image{
  border:0;
  width: 150px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

.link-card-content{
  margin-left:0px;
  padding-left:0.5%;
  line-height:120%;
  margin-bottom: 0.5em;
}

.link-card-title{
  margin-bottom:5px;
}

.link-card-title a{
  font-weight: bold;
  text-decoration: none;
  color: #111;
}

.link-card-excerpt{
  color: #333;
  font-size: 0.9em;
  max-height: 80px;
  overflow: hidden;
}

.link-card-footer {
    position:relative;
  font-size: 0.7em;
  width: 100%;
  clear:both;
  vertical-align: bottom;
}

.link-card-footer a{
    color:#777;
    text-decoration:none;
    padding-left:18px;
}

.link-card-footer a:hover{
    color:#111;
}

.link-card-footer img{
    position:absolute;
    float:left;
    top:50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-50%);
}

.link-card-hatebu{
  float: left;
  margin-right: 7px;
  position: relative;
  bottom: -5px;
}

/* □■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■ ↓タイキくん↓ □■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/* card stert */
body {
  background: #eee;
}
.card {
  width: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px #ccc;
  height: auto;
}
.new-article {
  margin-top: 55px;
  margin-bottom: 40px;
}
.new-article-cards{
  display: flex;
  justify-content: space-between;
}
.new-article-tiele {
  text-align: center;
}
.new-article-tiele h2 {
  margin-top: 55px;
  margin-bottom: 16px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

/* card end */

  
  
  button{
      border:solid aquamarine 2px;
  background-color:#F7F7F7;
  color :aquamarine;
  font-size: larger;

  
  padding-left : 125px;
  padding-right: 125px;
  padding-top:16px;
  padding-bottom: 16px;
  
  }
.lecture-report-readmore-button {
  text-align: center;
}


.yellow-line{

  background: linear-gradient(transparent 60%, #ffff66 0%);
  line-height: 1.3em;
}

.page-info{
  padding-right: 50px;
  text-align: center;
  font-size: large;
  margin-bottom: -40px;
 

}
.page-info p{
  border-bottom:solid rgb(197, 194, 194) 2px;
  width: 20%;
  margin-left: 550px;
  margin-top: 30px;
  
}
.next{
  padding-left: 8px;
  margin-left: 0px;
}


.page{
text-align: center;
padding-right: 30px;
font-size: x-large;
margin-bottom: 40px;
margin-top: 30px;
}
.page a{

  color: rgb(39, 196, 207);
}

.titlesize{
  font-size: larger;
  }
  
  
  .broad-design{
  width: 80%;
  margin: 0 auto 0;
  
  }
  .days{
      font-size: x-small;
      color: rgb(136, 131, 128);
      padding-left: 5px;
    
  }
  
  .head{
      background-color: white;
      width: 100%;
  }
  
  .preface{
  margin-bottom: 40px;
  margin-top: 40px;
  background-color:rgb(240, 214, 214);
  padding: 15px;
  border:solid rgb(136, 131, 131) 1px;
  border-radius: 15px;
  
  }
  .introduce{
  margin-bottom:  70px;
  margin-top: 40px;
  }
  
  .interview{
      margin-top: 80px;
  
  }
  .movie1{
  text-align: center;
  margin-top: 60px;
  margin-bottom:70px ;
  }
  
  .interviewer{
  color: rgb(155, 175, 175);
  
  }
  
    .popcard{
        border:solid black;
        padding: 30px;
        margin-bottom:70px;
        
    }
    
    
    .othercard {
      
      width: 31%;
      background: #fff;
      box-shadow: 0 2px 5px #ccc;
      /* float: left; */
      border: solid black 1px;
      margin: 3px;
      margin-bottom: 50px;
      display: inline;
    }
  
  
    .popcard-img {
      border-radius: 5px 5px 5px 5px;
      max-width: 100%;
      height: auto;
      width:100%;
      
    }
    
    
  
  
    .card-img {
      /* border-radius: 5px 5px 5px 5px; */
      max-width: 100%;
      height: auto;
      width:100%;
    }
  
    
  
    .card-content {
      padding: 10px;
      text-align: center;
    }
  
    .card-title {
      
      font-size: 20px;
      margin-bottom: 5px;
      text-align: center;
      color: #333;
    }
  
    .popcard-text {
      color: #777;
      font-size: 14px;
      line-height: 1.5;
    }
  
    .othercard-text {
      color: #777;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 30px;
    }
  
    .card-link {
      text-align: center;
      border-top: 1px solid #eee;
      padding-bottom: 20px;
      padding-top:10px;
    }
  
    .popcard-link{
      text-align: center;
      border-top: 1px solid #eee;
      padding-bottom: 20px;
      padding-top:10px;
  
    }
    .popcard-link a {
      text-decoration: none;
      color: #0bd;
      font-size:x-large
     
    }
    .card-link a {
      text-decoration: none;
      color: #0bd;
    
      
     
    }
    .card-link a:hover {
      color: #0090aa;
    }
    
    .pop{
      text-align: center;
      text-decoration: underline double;
    }
  
    .othertopic{
      text-decoration: underline;
      text-align: center;
  
    }
  
  .other-cards{
  
  
    }
  span{
  color: rgb(155, 175, 175);
  }
  
/* □■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■ ↓湯山↓ □■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
a {
  text-decoration: none;
  color: black;
}
ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style: none;
}
h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.logo {
  height: 24px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  background: white;
}
.container {
  display: flex;
  background-color: white;
}
.main {
  width: 100%;
}
.side {
  background: orange;
  width: 30%;
}
footer {
  background: #F7F7F7;
}
.heder-inner {
  margin: 0 auto 0;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
  justify-content: space-between;
  max-width: 1080px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* width: 100%; */
}
.main-nav {
  list-style: none;
  margin-top: 0px; 
  display: flex;
}
.hero_view {
  margin-bottom: -6px;
}
.hero_view img {
  width: 100%;
}

.sticky-heder {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);}
.line {
  margin: 0 1rem;
  width: 4px;
  background-color: #000;
}
.sns-icon {
  width: 30px;
}
.footer-posse-logo{
  width: 140px;
  margin-bottom: 24px;
}
.footer-inner {
  max-width: 1080px;
  margin: 0px auto 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.footer-ap-img {
  width: 210px;
  margin-top: 8px;
}
.footer-harbors-img {
  width: 140px;
  margin-top: 8px;
}
.footer-nav {
  text-align: left;
  font-weight: bold;
}
.footer-nav li {
  margin-bottom: 19px;
  font-size: 18px;
}

.ap {
  margin-bottom: 16px;
}
.harbors {
  margin-top: 20px;
}
.insta-icon {
  margin-right: 5px;
}
.copylight {
  background-color: #000;
  color: white;
  text-align: center;
  height: 24px;
  vertical-align: middle;
}
.lecture-report-title {
  text-align: center;
}
.lecture-report-title h2 {
  margin-bottom: 30px;
}
.lecture-report {
  background-color: #F7F7F7;
  padding-top: 24px;
  padding-bottom: 40px;
}
.WatchMoreDesign button {
  background-color: white;
}
.WatchMoreDesign-cace {
  margin-top: 60px;
  margin-bottom: 100px;
  text-align: center;
}

/* スライダー */
/**
 * スライダーの幅を指定しているだけ
 */
.c-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 15px;
}
.engineer-interview-title {
  text-align: center;
}
.engineer-interview {
  padding-top: 30px;
  padding-bottom: 30px;
}
.link-card {
  margin: 0 auto 20px;
}



.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-btn {
  display: none;
}
.menu-content {
  display: none;
}

.LectureReport-cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  max-width: 1100px;
}
.articles-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}



@media screen and (max-width: 1024px) {
	.new-article-cards {
    display: block;
  }
  .card {
    margin: 0 auto 0;
    margin-bottom: 10px;
    
  }
}
@media screen and (max-width: 650px) {
  .footer-inner {
    display: block;
  }
  .footer-logo-and-icons,
  .footer-nav,
  .company {
    margin: 0 auto;
    text-align: center;
  }
  .footer-logo-and-icons,
  .footer-nav {
    margin-bottom: 60px;
  }
  .footer-nav ul {
    padding-left: 0px;
  }

  .sticky-heder{
    display: none;
  }
  .movie1{
    display: none;
  }
  .menu-btn,
  .menu-content {
    display: block;
  }
  .menu-btn-check {
    bottom: 28px;
    left: 18px;
  }
  .menu-btn span {
    top: 28px;
    right: 17px;
  }
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80000;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}